<%# navigation menu -------- %>
<%= render partial: "/layouts/menus", locals: {tags: @tags, user: @users, featured_posts: @featured_posts}  %>



<div class="view-container">
<div id="posts-to-test" class="transitions-enabled">
  <% @favorites.each do |fav| %>
    <div class="box panel panel-default">
       <%= link_to (image_tag fav.picture.url), fav %>
       <h2><%= link_to fav.title, fav %></h2>
       <p class="user"><%= link_to fav.user.show_name, author_posts_path(fav.user) %></p>
       <p class="user">Tags: <% fav.tags.each do |tag| %>
                                <%= link_to tag.name, tag_path(tag) %>
                              <% end %>
        <div class="snippet-content">
            <% if fav.id % 2 == 0 && fav.id % 3 == 0 %>
                <p class="post-snippet-content"><%= truncate(fav.body, length: (900)) %></p>
            <% elsif fav.id % 2 == 0 %>
                <p class="post-snippet-content"><%= truncate(fav.body, length: (200)) %></p>
            <% elsif fav.id % 3 == 0 %>
              <p class="post-snippet-content"><%= truncate(fav.body, length: (500)) %></p>
            <% else %>
                 <p class="post-snippet-content"><%= truncate(fav.body, length: (100)) %></p>
            <% end %>
            </div>
            <div class="button-area">
                <%# link_to "Read More", post_path(fav), class: "btn btn-success"%>
                <%= render partial: "/favorites/favorite", locals: {post: fav} %>
            </div>
            <div class="social-share-buttons">
                <%= social_share_button_tag(fav.title) %>
            </div>       
    </div>
    <% end %>
</div>
</div>