        
<div id="<%= dom_id(comment) %>">
        <%# View My Comments %>

        <p class="comment-details"><em>Comment By: <%= comment.user.show_name %></em></p>
        <p class="comment-details"><em>Date Created: <%= comment.created_at %></em></p>
        <p class="comment-content"><%= comment.body %></p>
       

        <%#--EDIT COMMENTS ONLY IF THEY WERE MADE 15 MINUTES AGO OR LESS %>
        <% if (comment.time_left(comment)).to_i > 0 %>


        <!-- //for the edit comment time limit -->
        <script type="text/javascript">
          $(document).ready( function() {
            // var comment = ('<%= comment %>');
            var editCommentTimeout = function(comment) {
            <!--   //only have 15 minutes to edit a comment once it's created -->
              var start = Number($(comment).find('.time-left').html());
              //console.log(">>>>>>>>>>>>" + start);
              $(comment).find('.time-left-to-edit').append('<p class="timer-container">' + start + " minutes left to edit or delete your comment." + '</p>');
              <!-- //countdown from 15 minutes, and show time left
              //after each minute -->
              var editTimer = setInterval( function() {
                  if (start === 0) {
                    clearInterval(editTimer);
                   <!--  //if the timer hits zero, remove this class so the link
                    //disapears -->
                    $(comment).find('.edit-comment-link').remove();
                    $(comment).find('.delete-comment-link').remove();
                    $(comment).find('.time-left').remove();
                  }
                  else {
                    start -= 1;
                    $(comment).find('.timer-container').html(start + " " + "minutes left to edit or delete your comment");
                  }
              }, 60000);
            //close main function
            };

            editCommentTimeout('#<%= dom_id(comment) %>');

          });

        </script>

        <%# if current_user == comment.user || current_user.is_admin? %>
        <br>
          <% if can? :edit, comment %>
                 <div class="action-button"><%= link_to "Edit This Comment", edit_post_comment_path(@post, comment), remote: true, data: {toggle: "modal", target: "#myModal"}, class: "edit-comment-link btn btn-primary" %></div>
          <% end %>
      
        <% if can? :destroy, comment %>
            <div class="action-button"><%= button_to "Delete Comment", post_comment_path(@post, comment), method: :delete, remote: true, data: {confirm: "are you sure you want to delete this comment?"}, class: "delete-comment-link btn btn-danger" %></div>
    
            <em><span class="time-left-to-edit"></span></em>
            <div id="timer-details">
                <p>time left to edit post: <span class="time-left"><%= comment.time_left(comment) %></span>
            </div>
        <% end %>
        <% end %>
        <hr>
</div>
