<div class="container">
	<div class="center-block">
		<h1> All Posts </h1> | 
			<% @posts.each do |post| %>
				<div class="col-xs-4">
				<p>
				Title:
				<%= post.title %>
				<br>
				Created At:
				<%= post.created_at %>
				<br>
				<%= image_tag post.picture.url(:thumb) %>
				<br>
				<br>
				<%= truncate(post.body, length: 10) %>
				<br>
				<%= link_to "Read More", post_path(post), class: "btn btn-success"%>
				<br> 
				<%= link_to "Edit", edit_post_path(post) %>
				<br>
				<% favorite = post.favorites.find_by_user_id(current_user.id) if user_signed_in? %>
						<% if favorite %> 
								<%= link_to "Remove From Favorites", [post, favorite], method: :delete %>
						<% else %>
								<%= link_to "Add to Favorites", post_favorites_path(post), method: :post %>
						<% end %>		
				<hr>
				<br>
				</p>
			</div>
		<% end %>
	</div>
</div>





