		<!--Hero -->
    <!--replace with rails search form -->
    <div class="hero-wrapper">
        <div class="container">
            <!--make sure the search bar goes in the right place, so add this placeholder -->
            <!--add this as real text eventually using JUMBOTRON from Bootstrap -->
            <div id="placeholder-area">
            </div>
                <div class="search-bar-div">
                    <!--for the search bar itself to make it shorter -->
                    <div class="search-bar">
                          <!-- start of the form -->
                          <%= form_tag(posts_path, method: "get") do %>
                          <div class="form-group">      
  														<%= text_field_tag(:search_word, "", class: "form-control") %>
                          </div>
                          <div class="search-buttons">
                              <!--Query to find posts with title or body like your search -->
                              <%= submit_tag "Search", class: "btn btn-default" %>
                              <%= submit_tag "I'm Feeling Lucky", class: "btn btn-default" %>
                              <% end %>
                      
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Navigation for Index Page Only -->
    <div class="container drop-menu-container">
        
        <div class="col-md-4 col-xs-12">
          <div class="dropdown">  
                  <button type="button" class="btn btn-default dropdown-toggle button-full" data-toggle="dropdown"> 
                    Topics <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dLabel">
                        <% @tags.each do |tag| %>
                          <li>
                            <%= link_to "#{tag.name} (#{tag.posts.count})", "" %>
                          </li>
                        <% end %>
                      </ul>
                </div>
          </div>
       
        <div class="col-md-4 col-xs-12">
          <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle button-full" data-toggle="dropdown"> 
                    Authors <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dLabel">
                        <% @users.each do |user| %>
                          <li>
                            <%= link_to "#{user.show_name} (#{user.posts.count})" %>
                          </li>
                        <% end %>
                      </ul>
                </div>
          </div>

          <div class="col-md-4 col-xs-12">
            <div class="dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle button-full" data-toggle="dropdown"> 
                    Featured Posts <span class="caret"></span></button>
                      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dLabel">
                        <% @featured_posts.each do |feature| %>
                          <li>
                            <%# only show a snippet of the title %>
                            <%= link_to truncate(feature.title, length: 30) %>
                          </li>
                        <% end %>
                      </ul>
                </div>
          </div>
        

    </div>


<!--DISPLAY THE POSTS -->
<div class="container">
		<!--start looping over the post -->
    <% if @posts.empty? %>
      <p>No Records Found.  Please Search Again</p>
    <% end %>
    <% else %>
		<% @posts.each do |post| %>
    <div class="col-md-6 col-xs-12">
        <div class="post-container">
            <!--contains the picture and title text -->
            <div class="image-and-header">
            		<%= image_tag post.picture.url(:medium), class: "post-image" %>
                <!--Title should be a link to the post -->
                <h2 class="title-link-to-post"><%= link_to post.title, post %></h2>
                <p class="article-title-details">By: <%= link_to post.user %>, <%= link_to post.created_at %></p>
            </div>
            <div class="snippet-content">
                <p class="post-snippet-content"><%= truncate(post.body, length: 600) %></p>
            </div>
            <div class="button-area">
								<%= render partial: "/favorites/favorite", locals: {post: post} %>
						</div>
								<div class="social-share-buttons">
									<i class="fa fa-facebook-official fa-2x"></i>
									<i class="fa fa-twitter-square fa-2x"></i>
									<i class="fa fa-pinterest-square fa-2x"></i>
									<i class="fa fa-tumblr-square fa-2x"></i>
								</div>										
      </div>
      </div>
      <% end %>
  <!--close the main container -->
  </div>










