

<div class="container">
  <h1>Welcome <%= current_user.show_name %></h1>
  <table class="table">
    <tr>  
      <th>Name</th>
      <th>Email</th>
      <th>User Status</th>
      <th>Delete User</th>
    </td>
    <tr>
      <% @users.each do |user| %>
        <td><%= user.show_name %></td>
        <td><%= user.email %></td>
        <%# --- buttons for changing user permissions --- %>
        <td>
          <% if user.is_admin? %>
            <%= link_to "Make Normal User", admin_user_path(user, user: {is_admin: :false}), method: :patch, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "Make Admin", admin_user_path(user, user: {is_admin: :true}), method: :patch, class: "btn btn-success" %>  
          <% end %>
        </td>
        <%# --- buttons for deleting users --- %>
        <td>
          <%= link_to "Delete User", admin_user_path(user), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this user?"} %>
        </td>
    </tr>
      <% end %>
  </table>
</div>