<%# display all of the users and actions available in a table %>
<div class="container">
  <h2>Welcome <em><%= current_user.show_name %></em></h2>
  <table class="table">
    <tr>  
      <th>Name</th>
      <th>Email</th>
      <th>User Status</th>
      <th>Delete User</th>
    </td>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.show_name %></td>
        <td><%= user.email %></td>
        <%# --- buttons for changing user permissions --- %>
        <td>
          <%= render partial: "/admin/users/change", locals: {user: user} %>
        </td>
        <%# --- buttons for deleting users --- %>
        <td>
          <%= render partial: "/admin/users/delete", locals: {user: user} %>
        </td>
      </tr>
    <%# end loop ---- %>
    <% end %>
  </table>
<%# close main div --- %>
</div>