<div class="container">
  <h1>Welcome <%= current_user.show_name %></h1>
  <table class="table">
    <tr>  
      <th>Name</th>
      <th>Email</th>
      <th>User Status</th>
      <th>Delete User</th>
    </td>
    <% @users.each do |user| %>
    <tr>
        <td><%= user.show_name %></td>
        <td><%= user.email %></td>
        <%# --- buttons for changing user permissions --- %>
        <td>
          <%= render partial: "/admin/users/change", locals: {user: user} %>
        </td>
        <%# --- buttons for deleting users --- %>
        <td>
          <%= render partial: "/admin/users/delete", locals: {user: user} %>
        </td>
    </tr>
      <% end %>
  </table>
</div>